<!-- <form action="/History/edit" method="post">
    <input type="hidden" name="id" id="id" value="<%= editdata._id %>">
    <input type="text" name="author" id="author"  value="<%= editdata.author %>"><br>
    <input type="number" name="year" id="year" value="<%= editdata.year %>"><br>
    <input type="text" name="story" id="story" value="<%= editdata.story %>"><br>
    <input type="submit" value="Submit">
</form> -->