
<link rel="stylesheet" href="../stylesheets/style.help.css">
<div class="container">
    <div class="row">
    <div class="col-md-6">
      <h2 class="h2font">Let's get you</br> some help!</h2>
      <h6 class="h6font">Have any issue? Send us an <span class="email-us">email.</span></h6>
      <div class="img-wrapper">
      <img class="photo" src="https://i.ibb.co/bWfN3Qy/undraw-onboarding-o8mv-1.png" alt="undraw-onboarding-o8mv-1" border="0">
        </div>
    </div>
    
    <div class="col-md-6">
      <form class="mt-4">
    <div class="form-group">
      <label for="list">What Kind of Books are you looking for ?</label>
      <input type="text" class="form-control" id="list" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="tags">Please Few Primary Tags ?</label>
      <input type="text" class="form-control" id="tags">
    </div>
        
      <div class="form-group">
      <label for="describe">Please Give Us Feed back ?</label>
      <textarea type="text" class="form-control" id="describe" rows="5"></textarea>
    </div>
        
       
              
  <button type="button" class="btn btn-primary"><span>Submit</span> <i class="fas fa-long-arrow-alt-right"></i></button>
    </div>
      
    </div>
  </div>