
<div class="container">
<div class="row">
    <div class="col-md-3" style="background:linear-gradient(rgb(241, 237, 237),rgba(136, 133, 133, 0.973)); margin-top: 5px;">
      
        <h4 class="text-center display-5">
            Books
        </h4>
        <h6 style="text-align: center;">Islamic books</h6>
        <img src="../images/q12.png" alt="pic" width="200px" height="200px" style="display: block; margin-left: auto;margin-right: auto;">
        <hr>
        <h6 style="text-align: center;">History books</h6>
        <img src="../images/q11.png" alt="pic" width="200px" height="200px" style="display: block; margin-left: auto;margin-right: auto;">
        <hr>
        <h6 style="text-align: center;">Politics books</h6>
        <img src="../images/q10.png" alt="pic" width="200px" height="200px" style="display: block; margin-left: auto;margin-right: auto;">
        <hr>
        <h6 style="text-align: center;">Science books</h6>
        <img src="../images/q9.png" alt="pic" width="200px" height="200px"  style="display: block; margin-left: auto;margin-right: auto;">

    </div>

    <div class="col-md-9" style="background:linear-gradient(rgb(241, 237, 237),rgba(136, 133, 133, 0.973)); margin-top: 5px; border-left: 3px solid white;">
        <h4 class="text-center display-5">Libray history</h4>
       
        <p>The history of libraries began with the first efforts to organize collections of documents. Topics of interest include accessibility of the collection, acquisition of materials, arrangement and finding tools, the book trade, the influence of the physical properties of the different writing materials, language distribution, role in education, rates of literacy, budgets, staffing, libraries for targeted audiences, architectural merit, patterns of usage, and the role of libraries in a nation's cultural heritage, and the role of government, church or private sponsorship. Computerization and digitization arose from the 1960s, and changed many aspects of libraries.

            Library history is the academic discipline devoted to the study of the history of libraries; it is a subfield of library science and of history.</p>
            <hr>
            <img src="../images/w1.jpg" alt="pic" height="240px" width="350px" style="margin-left: auto;margin-right:auto;display: block;border-radius: 5px;">
            <hr>

            <h4 class="text-center display-5">First library</h4>
            <p>Persia at the time of the Achaemenid Empire (550-330 BC) was home to some outstanding libraries that were serving two main functions: keeping the records of administrative documents e.g. transactions, governmental orders, and budget allocation within and between the Satrapies and the central ruling State. And collection of resources on different sets of principles e.g. medical science, astronomy, history, geometry and philosophy.

                In 1933 University of Chicago excavated an impressive collection of clay tablets in Persepolis that indicated the Achaemenids' mastery of recording, classifying and storing a broad range of data. This archive is believed to be an administrative backbone of their ruling system throughout the vast territory of Persia.</p>
                <hr>
                <img src="../images/w3.jpg" alt="pic" width="350px" height="250px" style="display: block; margin-left: auto; margin-right: auto;border-radius: 5px;">
</div>
</div>
</div>
