<div class="container">
    <div class="row">
    <div class="col-md-12 text-center" style="background:linear-gradient(rgb(255, 249, 245),rgba(136, 133, 133, 0.973)); margin-top: 5px;">
        
     <h2 class="display-5" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;">Islamic Books</h2>
     <h3>Sunan Bukhari</h3>
     <img src="../images/k1.jpg" alt="Hadith books" width="200px" height="250px" style="float: right;" >
     <br><br>
     <p style="text-align:initial;"><b>Muḥammad ibn Ismā‘īl al-Bukhārī</b> (Arabic:محمد بن إسمائيل البخاري)(Persian: بخاری, ‎) (19 July 810 – 1 September 870), commonly referred to as Imam al-Bukhari or Imam Bukhari,was a Persian Islamic scholar who was born in Bukhara (early Khorasan and present day Uzbekistan). He compiled the hadith collection known as Sahih al-Bukhari, regarded by Sunni Muslims as the most authentic (sahih) hadith collections. He also wrote other books such as Al-Adab al-Mufrad Muhammad ibn Ismaʿil al-Bukhari al-Juʿfi was born after the Jumu'ah prayer on Friday, 21 July 810 (13 Shawwal 194 AH) in the city of Bukhara in Greater Khorasan(in present-day Uzbekistan).
      </p>
      <br><br><br>
     <hr>
        <h3>Sunan Tarmezi</h3>
     <img src="../images/k2.png" alt="hadith books" width="200px" height="250px" style="float: left;">
     <br><br>
     <p style="text-align:initial;"><b>Abū ʿĪsā Muḥammad</b> ibn ʿĪsā as-Sulamī aḍ-Ḍarīr al-Būghī at-Tirmidhī (Arabic: أبو عيسى محمد بن عيسى السلمي الضرير البوغي الترمذي; Persian: ترمذی, Termezī; 824 – 9 October 892 CE / 209 - 279 AH), often referred to as Imām at-Termezī/Tirmidhī, was an Islamic scholar, and collector of hadith from Termez (early Khorasan and in present-day Uzbekistan). He wrote al-Jami` as-Sahih (known as Jami` at-Tirmidhi), one of the six canonical hadith compilations in Sunni Islam. He also wrote Shama'il Muhammadiyah thus some sources give his year of birth as 210 AH. Some sources indicate that he was born in Mecca.</p>
     <br><br><br>
     <hr>
        <h3>Sunan Abu Dawood</h3>
     <img src="../images/k3.png" alt="hadith books" width="200px" height="230px" style="float: right;">
     <br><br>
     <p style="text-align: initial; "><b>Abu Dawood</b> compiled twenty-one books related to Hadith and preferred those Ahadith (plural of "Hadith") which were supported by the example of the companions of Muhammad. As for the contradictory Ahadith, he states under the heading of 'Meat acquired by hunting for a pilgrim': "if there are two contradictory reports from the Prophet (SAW), an investigation should be made to establish what his companions have adopted". He wrote in his letter to the people of Mecca: "I have disclosed wherever there was too much weakness in regard to any tradition in my collection.</p>
     <br><br><br>
     <hr>
        <h3>Sunan Nesayi</h3>
     <img src="../images/k5.png" alt="hadith books" width="200px" height="250px" style="float: left;">
     <br><br>
     <p style="text-align: initial;"><b>Al-Nasā'ī</b> (214 – 303 AH; c. 829 – 915 CE), full name Abū `Abd ar-Raḥmān Aḥmad ibn Shu`ayb ibn Alī ibn Sīnān al-Nasā'ī, (variant: Abu Abdel-rahman Ahmed ibn Shua'ib ibn Ali ibn Sinan ibn Bahr ibn Dinar Al-Khurasani), was a noted collector of hadith (sayings of Muhammad),of Persian origin from the city of Nasa (early Khorasan and present day Turkmenistan),and the author of "As-Sunan", one of the six canonical hadith collections recognized by Sunni Muslims.From his "As-Sunan al-Kubra (The Large Sunan)" he wrote an abridged version, "Al-Mujtaba" or Sunan al-Sughra (The Concise Sunan).</p>
     <br><br><br>
     <hr>
 
     </div>
    
    </div>
    </div>
    