
    <h2 class="display-5 text-center">Our services</h2>

<div class="container">
    <div class="row">
    
        <div class="col-md-4 bg-light mb-3 mt-5">
            <img src="./images/phone.png" alt="" class="d-block ms-auto me-auto mt-2 mb-2" style="width: 80px;">
            <h4 class="text-center pt-2 pb-2">Online Reading</h4>
            <p class="text-center">You Can read our books online We have a lot of online books on our web blog And You Can get and download books from our web page you can get a lot of useful information from our website</p>
        </div>
        <div class="col-md-4 bg-light mb-3 mt-5" style="border-left: 8px solid white;">
            <img src="./images/idea.png" alt="" class="d-block ms-auto me-auto mt-2 mb-2" style="width: 80px;">
            <h4 class="text-center pt-2 pb-2">Best Ideas</h4>
            <p class="text-center">Reading is the process of taking in the sense or meaning of letters, symbols, etc., especially by sight or touch.
                For educators and researchers, reading is a multifaceted process.Read online</p>
        </div>
        <div class="col-md-4 bg-light mb-3 mt-5"  style="border-left: 8px solid white;">
            <img src="./images/setting.png" alt="" class="d-block ms-auto me-auto mt-2 mb-2" style="width: 80px;">
            <h4 class="text-center pt-2 pb-2">Our Books</h4>
            <p class="text-center">We Have all Kind of Books like:Islamic books,History books,Politic books,Science books,Engineering books and etc. You can get a alot of useful books from our Library.</p>
        </div>
    </div>
</div>