<div class="container">
    <div class="row">
    <div class="col-md-12 text-center" style="background:linear-gradient(rgb(255, 249, 245),rgba(136, 133, 133, 0.973)); margin-top: 5px;">
        
     <h2 class="display-5" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;">Politics Books</h2>
     <h3>Reform Politics</h3>
     <img src="../images/m1.jpg" alt="Politics books" width="200px" height="250px" style="float: right;" >
     <br><br>
     <p style="text-align:initial;"><b>Reformism</b> is a political doctrine advocating the reform of an existing system or institution instead of its abolition and replacement.

        Within the socialist movement, reformism is the view that gradual changes through existing institutions can eventually lead to fundamental changes in a society's political and economic systems. Reformism as a political tendency and hypothesis of social change grew out of opposition to revolutionary socialism, which contends that revolutionary upheaval is a necessary precondition for the structural changes necessary to transform a capitalist system to a qualitatively different socialist system.</p>
     <br><br><br>
     <hr>
        <h3>Libertarian Politics</h3>

     <img src="../images/m2.jpg" alt="politics books" width="200px" height="250px" style="float: left; margin-right: 7px;">
     <br><br>
     <p style="text-align:initial;"><b>Libertarianism</b> (from French: libertaire, "libertarian"; from Latin: libertas, "freedom") is a political philosophy that upholds liberty as a core value. Libertarians seek to maximize autonomy and political freedom, and minimize the state's violation of individual liberties; emphasizing free association, freedom of choice, individualism and voluntary association.[2] Libertarians often share a skepticism of authority and state power, but some libertarians diverge on the scope of their opposition to existing economic and political systems. Various schools of Libertarian thought offer a range of views regarding the legitimate functions of state and private power, </p>
     <br><br><br>
     <hr>
        <h3>Socialist Politics</h3>
     <img src="../images/m3.jpg" alt="politics books" width="200px" height="250px" style="float: right;">
     <br><br>
     <p style="text-align: initial; "><b>Socialism</b> is a left-wing to far-left economic philosophy and movement encompassing a range of economic systems characterized by the dominance of social ownership of the means of productionwithin the economy and worker participation in the management of productive enterprises, as opposed to private ownership. As a term, it describes the economic, political and social theories and movements associated with the implementation of such systems. Social ownership can be public, collective, or cooperative</p>
     <br><br><br>
     <hr>
        <h3>Natural Law Politics</h3>
     <img src="../images/m4.png" alt="politics books" width="200px" height="250px" style="float: left; margin-right: 7px;">
     <br><br>
     <p style="text-align: initial;"><b>Natural law</b> (Latin: ius naturale, lex naturalis) is a system of law based on a close observation of human nature, and based on values intrinsic to human nature that can be deduced and applied independently of positive law (the express enacted laws of a state or society).According to natural law theory, all people have inherent rights, conferred not by act of legislation but by "God, nature, or reason. Natural law theory can also refer to "theories of ethics, theories of politics, theories of civil law, and theories of religious morality.
        In the Western tradition it was anticipated by the pre-Socratics</p>
     <br><br><br>
     <hr>
 
     </div>
    
    </div>
    </div>
    