<div class="container">
    <div class="row">
    <div class="col-md-12 text-center" style="background:linear-gradient(rgb(255, 249, 245),rgba(136, 133, 133, 0.973)); margin-top: 5px;">
        
     <h2 class="display-5" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;">Science Books</h2>
     <h3>Astronomy Books</h3>
     <img src="../images/b1.jpg" alt="science books" width="200px" height="250px" style="float: right;" >
     <br><br>
     <p style="text-align:initial;"><b>Astronomy</b> (from Ancient Greek ἀστρονομία (astronomía) 'science that studies the laws of the stars') is a natural science that studies celestial objects and phenomena. It uses mathematics, physics, and chemistry in order to explain their origin and evolution. Objects of interest include planets, moons, stars, nebulae, galaxies, and comets. Relevant phenomena include supernova explosions, gamma ray bursts, quasars, blazars, pulsars, and cosmic microwave background radiation. More generally astronomy studies everything that originates beyond Earth's atmosphere. Cosmology is a branch of astronomy that studies the universe as a whole</p>
     <br><br><br>
     <hr>
        <h3>Biology Books</h3>

     <img src="../images/b2.jpg" alt="science books" width="200px" height="250px" style="float: left; margin-right: 7px;">
     <br><br>
     <p style="text-align:initial;"><b>Biology</b> is the scientific study of life. It is a natural science with a broad scope but has several unifying themes that tie it together as a single, coherent field. For instance, all organisms are made up of cells that process hereditary information encoded in genes, which can be transmitted to future generations. Another major theme is evolution, which explains the unity and diversity of life. Energy processing is also important to life as it allows organisms to move, grow, and reproduce. Finally, all organisms are able to regulate their own internal environments.</p>
     <br><br><br>
     <hr>
        <h3>Chemistry Books</h3>
     <img src="../images/b3.jpg" alt="science books" width="200px" height="250px" style="float: right;">
     <br><br>
     <p style="text-align: initial; "><b>Chemistry</b> is the scientific study of the properties and behavior of matter. It is a natural science that covers the elements that make up matter to the compounds composed of atoms, molecules and ions: their composition, structure, properties, behavior and the changes they undergo during a reaction with other substances.

        In the scope of its subject, chemistry occupies an intermediate position between physics and biology.It is sometimes called the central science because it provides a foundation for understanding both basic and applied scientific disciplines at a fundamental level.</p>
     <br><br><br>
     <hr>
        <h3>Computer Science Books</h3>
     <img src="../images/b4.png" alt="science books" width="200px" height="250px" style="float: left; margin-right: 7px;">
     <br><br>
     <p style="text-align: initial;"><b>Computer science</b> is the study of computation, automation, and information. Computer science spans theoretical disciplines (such as algorithms, theory of computation, information theory and automation) to practical disciplines (including the design and implementation of hardware and software). Computer science is generally considered an area of academic research and distinct from computer programming.

        Algorithms and data structures are central to computer science. The theory of computation concerns abstract models of computation and general classes of problems that can be solved using them</p>
     <br><br><br>
     <hr>
 
     </div>
    
    </div>
    </div>
    